body {
  background-image: url("../img/city.jpg");
  background-color: rgb(182, 220, 255);
}
#author {
  text-align: center;
}
a {
  color: rgb(102, 27, 163);
}
a:hover, a:visited {
  color: rgb(87, 0, 128);
  text-shadow: 3px 3px 6px rgb(255, 94, 0);
  text-decoration: none;
}
h1 {
  text-align: center;
  padding: 30px;
  font-family: 'MuseoModerno', cursive;
  font-size: 70px;
  text-shadow: 5px 5px 6px rgb(255, 72, 0);
}
p {
  font-size: 20px;
  margin-top: 25px;
}
.container {
  
  padding: 50px;
  padding-bottom: 100px;
  background-color: white;
  border: outset rgb(248, 215, 255);
}
img {
  float: right;
  margin-right: 100px;
}
#result {
  display: none;
  padding: 50px;
}

#form {
  padding: 20px;
}

.btn {
  margin-top: 20px;
  background-color: rgb(255, 94, 0);
  color: white;
}
