body {
  background-color: rgb(203, 228, 252);
}
h1 {
  text-align: center;
  padding: 30px;
  font-family: 'MuseoModerno', cursive;
  font-size: 70px;
  text-shadow: 2px 2px 10px orange;
}
p {
  font-size: 20px;
}
.container {
  padding: 50px;
  padding-bottom: 500px;
  background-color: white;
}
#result {
  display: none;
  padding: 50px;
}

#form {
  padding: 20px;
}
